<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    <div style="margin-top: 40px;" class="container">
        <h1>TodoList</h1>
        <form action="/add" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">todo başlık</label>
                <input type="text" class="form-control" name="title" id="exampleInputEmail1" placeholder="todo title">
                <br>
                <button type="submit" class="btn btn-danger">EKLE</button>
            </div>
            
        </form>
        <hr>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Todo Başlık</th>
                <th scope="col">Todo Durum</th>
                <th scope="col">Durum güncelleme</th>
                <th scope="col">Todo sil</th>
              </tr>
            </thead>


            <tbody>

               {% for todo in todos %}
              <tr>
                <th>{{ todo.id }}</th>
                <td>{{ todo.title }}</td>
                <td>
                    {% if todo.complete == True %}
                        Tamamlandı
                    {% else%}
                        Tamamlanmadı
                    {% endif%}
                    
                </td>
                <td><a href="/complete/{{todo.id}}" class="btn btn-danger"> tamamla</a></td>
                <td><a href="/delete/{{todo.id}}" class="btn btn-danger"> sil</a></td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>